.main-content__container {
   padding: 3em;
}
.picture__container img {
   width: 100%;
   aspect-ratio: auto;
   height: 250px;
   overflow: hidden;
   object-fit: cover;
}
.title {
   text-transform: uppercase;
   font-weight: 300;
   font-size: 2.8rem;
   text-align: center;
   letter-spacing: .25em;
   padding: .5em;
}
.title span {
   font-weight: 400;
   color: #000;
}
.description {
   font-size: 1rem;
   line-height: 1.6em;
   text-align: center;
}
@media (min-width: 600px) {
   .main__container {
      height: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      align-items: center;
   }
   .main-content__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      min-width: 50%;
      max-width: 60%;
      padding: 3rem 15rem 3rem 8rem;
      background-image: url('../images/bg-pattern-desktop.svg');
      background-size: 100% 100%; 
   }
   .title {
      font-size: 4rem;
      text-align: left;
      padding: 0;
      margin-bottom: 1rem;
   }
   .description {
      text-align: left;
   }
   .picture__container {
      height: 100%;
      order: 2; 
   }
   .picture__container img {
      height: 100%;
   }
}